@charset "UTF-8";
/*=============================================================
# font_family
============================================================= */
/*=============================================================
# font_color
============================================================= */
/*=============================================================
# inner_width
============================================================= */
/*=============================================================
# level
============================================================= */
/*=============================================================
# breakpoint
============================================================= */
/*=============================================================
# common
============================================================= */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1440px) {
  .sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .pc {
    display: none;
  }
}

.inner {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  width: 300px;
  height: 56px;
  border: 1px solid #333;
  text-align: center;
  line-height: 56px;
  font-size: 16px;
  position: relative;
  color: #333;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: block;
}

@media (max-width: 767px) {
  .btn {
    width: 260px;
    height: 56px;
    line-height: 56px;
  }
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 37px;
  width: 17px;
  height: 17px;
  background: url(../img/Vector_black.svg);
}

@media (max-width: 767px) {
  .btn::after {
    top: 52%;
    right: 17px;
  }
}

@media (min-width: 1440px) {
  .btn {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .btn:hover {
    color: #fff;
    background: #333;
  }
  .btn:hover::after {
    background: url(../img/Vector_white.svg);
  }
}

.submit_btn {
  width: 239px;
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 56px;
  background: #159741;
  color: #fff;
  display: block;
}

@media (min-width: 1440px) {
  .submit_btn {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .submit_btn:hover {
    opacity: 0.7;
  }
}

.submit_btn:disabled {
  background: #bdbdbd;
  border: none;
}

.section_title_ja {
  color: #159741;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-align: center;
  line-height: 1.44444;
}

@media (max-width: 767px) {
  .section_title_ja {
    font-size: 14px;
  }
}

.section_title_en {
  font-family: reross-quadratic, sans-serif;
  font-size: 48px;
  line-height: 1.1875;
  letter-spacing: 0.05em;
  color: #333;
  margin-top: 16px;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
}

@media (max-width: 767px) {
  .section_title_en {
    font-size: 32px;
    margin-top: 12px;
  }
}

.section_title_en::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background: #159741;
}

/*=============================================================
# header
============================================================= */
.header {
  background: #2f2f2f;
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header_logo {
  width: 116px;
  height: 63px;
  margin-left: 33px;
}

@media (max-width: 767px) {
  .header_logo {
    width: 55px;
    height: 30px;
    margin-left: 16px;
  }
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header_nav_item {
  margin-right: 40px;
}

.header_nav_item:last-child {
  margin-right: 71px;
}

@media (max-width: 767px) {
  .header_nav_item:last-child {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .header_nav_item {
    margin-right: 20px;
  }
}

.header_nav_link {
  display: block;
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  letter-spacing: 0.03em;
  font-size: 18px;
  height: 90px;
  line-height: 90px;
  position: relative;
}

@media (max-width: 767px) {
  .header_nav_link {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1440px) {
  .header_nav_link::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_nav_link:hover::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: #159741;
  }
}

/*=============================================================
# mv
============================================================= */
.mv {
  background: #2f2f2f;
  height: 650px;
  margin-top: 90px;
}

@media (max-width: 767px) {
  .mv {
    height: 243px;
    margin-top: 60px;
  }
}

.mv_inner {
  position: relative;
}

.mv_catchcopy {
  position: absolute;
  left: 178px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .mv_catchcopy {
    left: 19px;
  }
}

.mv_catchcopy_en {
  font-size: 100px;
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  line-height: 1;
}

@media (max-width: 767px) {
  .mv_catchcopy_en {
    font-size: 36px;
  }
}

.mv_catchcopy_en_accent {
  color: #159741;
}

.mv_catchcopy_ja {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  color: #fff;
  line-height: 1.4375;
  margin-top: 37px;
}

@media (max-width: 767px) {
  .mv_catchcopy_ja {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
  }
}

.mv_catchcopy_ja_accent {
  width: 524px;
  height: 64px;
  background: #159741;
  display: block;
  line-height: 64px;
  margin-top: 21px;
}

@media (max-width: 767px) {
  .mv_catchcopy_ja_accent {
    margin-top: 9px;
    width: 225px;
    height: 31px;
    line-height: 31px;
  }
}

.mv_img {
  width: 1080px;
  margin-left: auto;
  height: 650px;
  background: url(../img/mv.jpg) no-repeat right center/contain;
  max-width: 100%;
}

@media (max-width: 767px) {
  .mv_img {
    height: 243px;
    width: 308px;
    background: url(../img/sp/mv_sp.jpg) no-repeat center center/contain;
  }
}

/*=============================================================
# concept
============================================================= */
.concept {
  background: #2f2f2f;
  position: relative;
}

.concept_inner {
  text-align: center;
  padding: 0 36px;
}

.concept_title {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.05em;
  padding-top: 120px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .concept_title {
    padding-top: 48px;
    font-size: 20px;
  }
}

.concept_text {
  font-size: 18px;
  color: #fff;
  margin-top: 24px;
  line-height: 1.5;
}

.concept_text:first-child {
  margin-top: 48px;
}

@media (max-width: 767px) {
  .concept_text:first-child {
    margin-top: 24px;
  }
}

.concept_text:last-child {
  padding-bottom: 110px;
}

@media (max-width: 767px) {
  .concept_text:last-child {
    padding-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .concept_text {
    font-size: 16px;
  }
}

.concept_bg {
  width: 1732px;
  max-width: 100%;
  position: absolute;
  bottom: -60px;
  text-align: center;
  font-size: 280px;
  font-family: reross-quadratic, sans-serif;
  color: #6767674d;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 1440px) {
  .concept_bg {
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .concept_bg {
    font-size: 110px;
    letter-spacing: 0.03em;
    line-height: 0.8;
    bottom: -4px;
    text-align: right;
  }
}

/*=============================================================
# about
============================================================= */
.about {
  position: relative;
  z-index: 2;
  background: #f2f2f2;
  padding-top: 130px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  .about {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.about_items {
  width: 1080px;
  max-width: 100%;
  margin: 80px auto 0;
}

@media (max-width: 767px) {
  .about_items {
    margin-top: 56px;
  }
}

.about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .about_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about_item:not(:first-child) {
  margin-top: 64px;
}

@media (max-width: 767px) {
  .about_item:not(:first-child) {
    margin-top: 56px;
  }
}

@media (min-width: 1440px) {
  .about_item:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 1440px) {
  .about_item:nth-child(2) .about_item_content {
    margin-left: 0;
    margin-right: 65px;
  }
}

@media (min-width: 1440px) {
  .about_item_img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 450px;
            flex: 0 0 450px;
  }
}

@media (max-width: 767px) {
  .about_item_img {
    width: 343px;
    height: 220px;
    margin: 32px 16px 0 16px;
  }
}

.about_item_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-left: 67px;
  position: relative;
}

@media (max-width: 767px) {
  .about_item_content {
    margin-left: 0;
  }
}

.about_item_title {
  letter-spacing: 0.05em;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.43333;
}

@media (max-width: 767px) {
  .about_item_title {
    font-size: 24px;
  }
}

.about_item_title_accent {
  color: #159741;
}

.about_item_text {
  width: 400px;
  max-width: 100%;
  margin-top: 24px;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .about_item_text {
    font-size: 16px;
    margin-top: 16px;
    width: 327px;
  }
}

.about_item_bg {
  font-size: 288px;
  color: #ffffffcc;
  letter-spacing: 0.06em;
  font-family: reross-quadratic, sans-serif;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

@media (max-width: 767px) {
  .about_item_bg {
    font-size: 180px;
    letter-spacing: normal;
    bottom: -70px;
    top: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

/*=============================================================
# parallax1
============================================================= */
.parallax1 {
  background: transparent url(../img/parallax1.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  height: 450px;
}

@media (max-width: 767px) {
  .parallax1 {
    height: 250px;
  }
}

/*=============================================================
# menu
============================================================= */
.menu {
  background: #2f2f2f;
  padding: 72px 0;
}

@media (max-width: 767px) {
  .menu {
    padding: 24px 16px;
  }
}

.menu_inner {
  border: 2px solid #fff;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .menu_inner {
    border: 1px solid #fff;
    padding-bottom: 32px;
  }
}

.menu_title_ja {
  color: #fff;
  margin-top: 80px;
}

.menu_title_en {
  color: #fff;
}

.menu_title_en::after {
  background: #fff;
}

.menu_nutrient {
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .menu_nutrient {
    font-size: 16px;
    margin-top: 48px;
  }
}

.menu_basil {
  width: 953px;
  max-width: 100%;
  margin: 54px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .menu_basil {
    margin-top: 48px;
    height: 594px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu_basil_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 451px;
          flex: 0 0 451px;
  position: absolute;
}

@media (min-width: 1440px) {
  .menu_basil_img {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .menu_basil_img {
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
    width: 315px;
  }
}

.menu_basil_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 592px;
          flex: 0 1 592px;
  background: #f2f2f2;
  padding: 13px;
  margin-left: auto;
}

@media (max-width: 767px) {
  .menu_basil_content {
    margin: 0 22px;
    margin-top: 271px;
    position: relative;
    padding: 10px;
  }
}

.menu_content_inner {
  border: 1px solid #333;
}

.menu_content_name {
  letter-spacing: 0.1em;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  line-height: 1.43333;
}

@media (max-width: 767px) {
  .menu_content_name {
    font-size: 24px;
  }
}

.menu_content_price {
  font-family: reross-quadratic, sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .menu_content_price {
    font-size: 30px;
  }
}

.menu_content_price_yen {
  font-family: reross-quadratic, sans-serif;
  font-size: 24px;
}

@media (max-width: 767px) {
  .menu_content_price_yen {
    font-size: 18px;
  }
}

.menu_content_price_tax {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .menu_content_price_tax {
    font-size: 12px;
  }
}

.menu_content_nutrient {
  letter-spacing: 0.03em;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .menu_content_nutrient {
    font-size: 14px;
  }
}

.menu_content_Recommendation {
  width: 251px;
  max-width: 100%;
  background: #159741;
  color: #fff;
  position: absolute;
  top: 0;
  left: 532px;
}

@media (max-width: 767px) {
  .menu_content_Recommendation {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 211px;
    height: 97px;
  }
}

.menu_content_Recommendation_en {
  font-size: 14px;
  font-family: "Satisfy";
  letter-spacing: 0.03em;
  padding-top: 9px;
  text-align: center;
}

@media (max-width: 767px) {
  .menu_content_Recommendation_en {
    font-size: 12px;
    margin-top: 38px;
  }
}

.menu_content_Recommendation_ja {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 14px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .menu_content_Recommendation_ja {
    font-size: 18px;
  }
}

.menu_items {
  margin: 85px auto 0;
  width: 1080px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .menu_items {
    display: block;
    margin-top: 0;
  }
}

.menu_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 638px;
  position: relative;
}

@media (max-width: 767px) {
  .menu_item {
    margin-top: 48px;
    height: 484px;
    padding-top: 261px;
  }
}

@media (min-width: 1440px) {
  .menu_item:nth-child(2) {
    margin-left: 32px;
  }
}

.menu_item:nth-child(2) .menu_item_img {
  width: 427px;
}

@media (max-width: 767px) {
  .menu_item:nth-child(2) .menu_item_img {
    width: 308px;
    top: 10px;
  }
}

.menu_item_img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 417px;
}

@media (max-width: 767px) {
  .menu_item_img {
    width: 305px;
    top: 10px;
  }
}

.menu_item_content {
  background: #f2f2f2;
  padding: 13px;
  margin-top: 357px;
}

@media (max-width: 767px) {
  .menu_item_content {
    margin: 0 21px;
    padding: 10px;
  }
}

.menu_item_content_inner {
  border: 1px solid #333;
}

.menu_item_content_name {
  letter-spacing: 0.1em;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 73px;
  line-height: 1.43333;
}

@media (max-width: 767px) {
  .menu_item_content_name {
    font-size: 24px;
    margin-top: 58px;
  }
}

.menu_instagram {
  margin: 80px auto 0;
  width: 1080px;
  max-width: 100%;
  background: #f2f2f2;
  padding: 13px;
}

@media (max-width: 767px) {
  .menu_instagram {
    margin: 58px 21px 0;
    padding: 10px;
    width: 300px;
  }
}

.menu_instagram_inner {
  border: 1px solid #333;
}

.menu_instagram_title {
  width: 360px;
  max-width: 100%;
  background: #159741;
  color: #fff;
  line-height: 73px;
  height: 73px;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 30px;
  font-family: reross-quadratic, sans-serif;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -14px;
}

@media (max-width: 767px) {
  .menu_instagram_title {
    font-size: 24px;
    width: 185px;
    height: 50px;
    line-height: 50px;
    top: -11px;
  }
}

.menu_instagram_text {
  margin-top: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 18px;
  position: relative;
  padding: 0 36px;
}

@media (max-width: 767px) {
  .menu_instagram_text {
    font-size: 16px;
    line-height: 1.4375;
    margin: 24px 22px 0;
    padding: 0;
    text-align: left;
  }
}

.menu_instagram_text::before {
  content: "";
  position: absolute;
  left: 220px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 1px;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
  background: #333;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .menu_instagram_text::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu_instagram_text::before {
    display: none;
  }
}

.menu_instagram_text::after {
  content: "";
  position: absolute;
  right: 220px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 1px;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
  background: #333;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .menu_instagram_text::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu_instagram_text::after {
    display: none;
  }
}

.menu_instagram_imgs_inner {
  overflow: auto;
  max-width: 100%;
}

@media (max-width: 767px) {
  .menu_instagram_imgs_inner {
    overflow: unset;
  }
}

.menu_instagram_imgs {
  margin: 34px auto 0;
  width: 972px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .menu_instagram_imgs {
    margin: 24px 10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
}

.menu_instagram_img {
  width: calc(25% - 16px * 3 / 4);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .menu_instagram_img:not(:first-child) {
    margin-left: 16px;
  }
  .menu_instagram_img img {
    max-width: none;
  }
}

@media (min-width: 1440px) {
  .menu_instagram_img:not(:first-child) {
    margin-left: 16px;
  }
  .menu_instagram_img img {
    max-width: none;
  }
}

@media (max-width: 767px) {
  .menu_instagram_img {
    width: 125px;
  }
  .menu_instagram_img:nth-child(2n + 2) {
    margin-left: 10px;
  }
  .menu_instagram_img:nth-child(n + 3) {
    margin-top: 10px;
  }
}

.menu_instagram_id {
  margin-top: 8px;
  text-align: center;
}

.menu_instagram_btn {
  margin: 26px auto 24px;
}

/*=============================================================
# parallax2
============================================================= */
.parallax2 {
  background: transparent url(../img/parallax2.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  height: 450px;
}

@media (max-width: 767px) {
  .parallax2 {
    height: 250px;
  }
}

/*=============================================================
# shop
============================================================= */
.shop {
  padding: 120px 0;
  background: #f2f2f2;
}

@media (max-width: 767px) {
  .shop {
    padding: 64px 0;
  }
}

.shop_map {
  margin-top: 80px;
  background: url(../img/shop_map.svg) no-repeat center center/contain;
  height: 465px;
}

@media (max-width: 767px) {
  .shop_map {
    margin-top: 56px;
    background: url(../img/sp/shop_map_sp.svg) no-repeat center center/contain;
    height: 250px;
  }
}

.shop_detail {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1260px;
  max-width: 100%;
  margin-left: auto;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .shop_detail {
    display: block;
  }
}

@media (max-width: 767px) {
  .shop_detail {
    display: block;
    margin-top: 56px;
  }
}

.shop_detail_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 429px;
          flex: 0 1 429px;
}

@media (max-width: 767px) {
  .shop_detail_content {
    margin: 0 28px;
  }
}

.shop_detail_title {
  font-size: 32px;
  font-family: reross-quadratic, sans-serif;
  letter-spacing: 0.03em;
}

@media (max-width: 767px) {
  .shop_detail_title {
    text-align: center;
  }
}

.shop_detail_title span:first-child {
  font-size: 18px;
  letter-spacing: 0;
}

.shop_detail_title span:last-child {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 767px) {
  .shop_detail_title span:last-child {
    font-size: 16px;
  }
}

.shop_detail_address {
  margin-top: 25px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media (max-width: 767px) {
  .shop_detail_address {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.6875;
  }
}

.shop_detail_list {
  line-height: 2;
  letter-spacing: 0.03em;
  font-size: 18px;
  margin-top: 17px;
}

@media (max-width: 767px) {
  .shop_detail_list {
    font-size: 16px;
    line-height: 1.6875;
  }
}

.shop_detail_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop_detail_row dt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  font-weight: normal;
}

.shop_detail_row dd {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1 75%;
          flex: 0 0 1 75%;
}

.shop_detail_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px;
  background: url(../img/shop_店舗外観.jpg) no-repeat center center/contain;
  height: 500px;
  margin-left: 10.39683%;
}

@media (max-width: 767px) {
  .shop_detail_img {
    margin: 40px 16px 0;
    height: 298px;
    background-size: cover;
  }
}

.shop_postcard {
  margin: 80px auto 0;
  width: 1146px;
  max-width: 100%;
  padding: 30px 33px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 4px 20px #a19f9f99;
          box-shadow: 0 4px 20px #a19f9f99;
}

@media (max-width: 767px) {
  .shop_postcard {
    padding: 18px 10px 113px;
    margin: 98px 16px 0;
    width: 343px;
  }
}

.shop_postcard_stamp {
  position: absolute;
  top: -71px;
  left: -97px;
  width: 288px;
}

@media (max-width: 767px) {
  .shop_postcard_stamp {
    width: 112px;
    top: -39px;
    left: -16px;
  }
}

.shop_postcard_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .shop_postcard_imgs {
    display: block;
  }
}

@media (max-width: 767px) {
  .shop_postcard_imgs {
    display: block;
    width: 323px;
  }
}

.shop_postcard_left_img {
  width: 629px;
  max-width: 100%;
  height: 430px;
  background: transparent url(../img/shop_オープンテラス.jpg) no-repeat center center/contain;
}

@media (max-width: 767px) {
  .shop_postcard_left_img {
    height: 282px;
    background: transparent url(../img/sp/shop_オープンテラス_sp.jpg) no-repeat center center/contain;
  }
}

.shop_postcard_right_img {
  width: 449px;
  height: 430px;
  max-width: 100%;
  background: transparent url(../img/shop_テイクアウト.jpg) no-repeat center center/contain;
}

@media (max-width: 767px) {
  .shop_postcard_right_img {
    height: 209px;
    background: transparent url(../img/sp/shop_テイクアウト_sp.jpg) no-repeat center center/contain;
  }
}

.shop_postcard_texts {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 767px) {
  .shop_postcard_texts {
    display: block;
    margin: 20px 12px 0;
  }
}

.shop_postcard_title {
  font-family: Satisfy;
  letter-spacing: 0.05em;
  font-size: 48px;
  margin-left: 7px;
}

@media (max-width: 767px) {
  .shop_postcard_title {
    font-size: 30px;
  }
}

.shop_postcard_text_inner {
  width: 560px;
  max-width: 100%;
  margin-top: 17px;
  margin-left: 53px;
}

@media (max-width: 767px) {
  .shop_postcard_text_inner {
    margin-left: 0;
    margin-top: 0;
    width: 309px;
  }
}

.shop_postcard_text {
  line-height: 2.5;
  color: #4f4f4f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(98%, transparent), color-stop(1%, #c4c4c4));
  background: linear-gradient(transparent 98%, #c4c4c4 1%);
  display: inline;
  padding-bottom: 10px;
}

.shop_postcard_text_en {
  font-family: Satisfy;
  letter-spacing: 0.05em;
  font-size: 40px;
  color: #159741;
  border-bottom: 1px solid #159741;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.shop_postcard_text_en::after {
  content: "";
  width: 305px;
  height: 1px;
  background: #159741;
  position: absolute;
  bottom: -8px;
  right: 0;
}

@media (max-width: 767px) {
  .shop_postcard_text_en::after {
    width: 275px;
  }
}

@media (max-width: 767px) {
  .shop_postcard_text_en {
    font-size: 36px;
    bottom: -50px;
  }
}

/*=============================================================
# contact
============================================================= */
.contact {
  background: transparent url(../img/contact_bg.jpg) no-repeat center center/cover;
  padding: 130px 0;
}

@media (max-width: 767px) {
  .contact {
    padding: 64px 16px;
  }
}

.contact_inner {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 64px 0 72px;
}

@media (max-width: 767px) {
  .contact_inner {
    padding: 64px 15px 64px 16px;
  }
}

.contact_description {
  margin-top: 32px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media (max-width: 767px) {
  .contact_description {
    text-align: left;
  }
}

.contact_form {
  width: 520px;
  max-width: 100%;
  margin: 48px auto 0;
}

@media (max-width: 767px) {
  .contact_form {
    margin-top: 32px;
  }
}

.contact_form_wrap:not(:first-child) {
  margin-top: 32px;
}

.contact_form_wrap:nth-child(1) .contact_form_title::after, .contact_form_wrap:nth-child(2) .contact_form_title::after, .contact_form_wrap:nth-child(4) .contact_form_title::after {
  content: "必須";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 39px;
  height: 21px;
  background: #159741;
  font-size: 12px;
  color: #fff;
  line-height: 21px;
  text-align: center;
  border-radius: 6px;
}

.contact_form_title {
  font-size: 18px;
  padding-right: 55px;
  position: relative;
  display: inline-block;
  font-weight: normal;
}

@media (max-width: 767px) {
  .contact_form_title {
    padding-right: 49px;
  }
}

.contact_form_input {
  margin-top: 4px;
}

@media (max-width: 767px) {
  .contact_form_input {
    margin-top: 6px;
  }
}

.contact_form_input [type="text"],
.contact_form_input [type="email"],
.contact_form_input [type="tel"],
.contact_form_input textarea {
  width: 100%;
  border: 1px solid #4f4f4f;
  background: #fff;
}

.contact_form_input [type="text"]:focus-visible,
.contact_form_input [type="email"]:focus-visible,
.contact_form_input [type="tel"]:focus-visible,
.contact_form_input textarea:focus-visible {
  outline: solid 1px #159741;
  -webkit-box-shadow: 0 0 4px #159741;
          box-shadow: 0 0 4px #159741;
  border: 1px solid #159741;
}

.contact_form_input [type="text"]::-webkit-input-placeholder,
.contact_form_input [type="email"]::-webkit-input-placeholder,
.contact_form_input [type="tel"]::-webkit-input-placeholder,
.contact_form_input textarea::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: normal;
}

.contact_form_input [type="text"]:-ms-input-placeholder,
.contact_form_input [type="email"]:-ms-input-placeholder,
.contact_form_input [type="tel"]:-ms-input-placeholder,
.contact_form_input textarea:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: normal;
}

.contact_form_input [type="text"]::-ms-input-placeholder,
.contact_form_input [type="email"]::-ms-input-placeholder,
.contact_form_input [type="tel"]::-ms-input-placeholder,
.contact_form_input textarea::-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: normal;
}

.contact_form_input [type="text"]::placeholder,
.contact_form_input [type="email"]::placeholder,
.contact_form_input [type="tel"]::placeholder,
.contact_form_input textarea::placeholder {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: normal;
}

.contact_form_input [type="text"],
.contact_form_input [type="email"],
.contact_form_input [type="tel"] {
  padding: 13px 0 14px 23px;
}

@media (max-width: 767px) {
  .contact_form_input [type="text"],
  .contact_form_input [type="email"],
  .contact_form_input [type="tel"] {
    padding: 16px 0 17px 16px;
  }
}

.contact_form_input textarea {
  padding: 13px 0 0 23px;
  min-height: 160px;
  resize: vertical;
}

@media (max-width: 767px) {
  .contact_form_input textarea {
    padding: 13px 13px 0 16px;
  }
}

.contact_form_privacy {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_form_privacy [type="checkbox"] {
  width: 30px;
  height: 30px;
  border: 1px solid #4f4f4f;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

.contact_form_privacy [type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 18px;
  height: 12px;
  border-left: 2px solid #159741;
  border-bottom: 2px solid #159741;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 1440px) {
  .contact_form_privacy [type="checkbox"] {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .contact_form_privacy [type="checkbox"]:hover {
    -webkit-box-shadow: 0 0 4px #159741;
            box-shadow: 0 0 4px #159741;
    border: 1px solid #159741;
  }
  .contact_form_privacy [type="checkbox"]:active {
    -webkit-box-shadow: 0 0 4px #159741;
            box-shadow: 0 0 4px #159741;
    border: 1px solid #159741;
    background: #15974126;
  }
}

.contact_form_privacy_text {
  font-size: 18px;
  letter-spacing: 0.05em;
  margin-left: 12px;
}

@media (max-width: 767px) {
  .contact_form_privacy_text {
    font-size: 16px;
  }
}

.contact_form_privacy_link {
  color: #159741;
  text-decoration: underline;
  padding: 8px 0;
}

@media (min-width: 1440px) {
  .contact_form_privacy_link {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .contact_form_privacy_link:hover {
    opacity: 0.7;
  }
}

.contact_form_submit {
  margin: 40px auto 0;
}

@media (max-width: 767px) {
  .contact_form_submit {
    width: 300px;
    height: 56px;
    line-height: 56px;
  }
}

/*=============================================================
# modal
============================================================= */
.modal {
  display: none;
  width: 929px;
  max-width: calc(100% - 24px * 2);
  max-height: calc(100% - 24px * 2);
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 35px 0;
  -webkit-box-shadow: 0 4px 30px #00000040;
          box-shadow: 0 4px 30px #00000040;
  z-index: 15;
}

@media (max-width: 767px) {
  .modal {
    padding: 17px;
  }
}

.modal_cross {
  position: absolute;
  top: 23px;
  right: 28px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .modal_cross {
    top: 12px;
    right: 14px;
  }
}

.modal_title_ja {
  font-size: 12px;
}

.modal_title_en {
  font-size: 24px;
}

.modal_inner {
  width: 805px;
  height: 342px;
  max-width: 100%;
  margin: 40px auto 0;
  overflow: auto;
}

@media (max-width: 767px) {
  .modal_inner {
    margin-top: 20px;
  }
}

.modal_text {
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .modal_text {
    font-size: 16px;
  }
}

.modal_bg {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

/*=============================================================
# pagetop
============================================================= */
.pagetop {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 120px;
}

@media (max-width: 767px) {
  .pagetop {
    width: 70px;
    height: 70px;
    right: 16px;
    bottom: 16px;
    z-index: 10;
  }
}

/*=============================================================
# footer
============================================================= */
.footer {
  background: #f2f2f2;
  padding: 56px 0 9px;
}

@media (max-width: 767px) {
  .footer {
    padding: 48px 0 10px;
  }
}

.footer_sns {
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer_sns {
    width: 230px;
  }
}

.footer_sns_list {
  background: #2f2f2f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #2f2f2f;
}

@media (max-width: 767px) {
  .footer_sns_list {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1440px) {
  .footer_sns_list {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer_sns_list:hover {
    background: #fff;
  }
}

.footer_sns_link .fab {
  display: block;
  padding: 10px;
  color: #fff;
}

@media (min-width: 1440px) {
  .footer_sns_link .fab {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer_sns_link .fab:hover {
    color: #2f2f2f;
  }
}

.footer_sns_link .fa-twitter {
  font-size: 25px;
}

@media (max-width: 767px) {
  .footer_sns_link .fa-twitter {
    font-size: 31px;
  }
}

.footer_sns_link .fa-instagram {
  font-size: 24px;
}

@media (max-width: 767px) {
  .footer_sns_link .fa-instagram {
    font-size: 29px;
  }
}

.footer_sns_link .fa-tiktok {
  font-size: 21px;
}

@media (max-width: 767px) {
  .footer_sns_link .fa-tiktok {
    font-size: 26px;
  }
}

.footer_nav {
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 329px;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-family: reross-quadratic, sans-serif;
  letter-spacing: 0.03em;
}

@media (max-width: 767px) {
  .footer_nav {
    margin-top: 41px;
    font-size: 16px;
    width: 283px;
  }
}

.footer_nav_link {
  padding: 5px 0;
  position: relative;
}

@media (min-width: 1440px) {
  .footer_nav_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer_nav_link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: #159741;
  }
}

.footer_logo {
  margin: 43px auto 0;
  width: 166px;
}

@media (max-width: 767px) {
  .footer_logo {
    margin-top: 34px;
  }
}

.copyright {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .copyright {
    margin-top: 29px;
    font-size: 12px;
  }
}
